/* /////////////////////////// */
/* General/Reusable Components */
/* /////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-primary: #1f1f1f;
  --light-primary: #fdfdfd;
  --color-primary: #66fcf1;
  --color-primary-dark: #45a29e;
  --color-secondary: #FC6671;
  --grey-primary: #c5c6c7;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--dark-primary);
}

.section {
  padding: 2rem 6rem;
}

.grid {
  display: grid;
}

.grid--2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid--3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

/* /////////////////////////// */
/* Header/Navigation */
/* /////////////////////////// */

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ////////////////// */
/* Social-Media-Links */
/* ////////////////// */

.social-navigation__list {
  list-style: none;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-navigation__icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-primary);
  transition: all 0.5s;
}

.social-navigation__icon__container:hover {
  color: var(--color-primary);
}

.social-navigation__icon {
  width: 3rem;
  height: 3rem;
}

.social-navigation__list__item__link {
  text-decoration: none;
}

/* ////////// */
/* Site-Links */
/* ////////// */

.site-navigation__list {
  list-style: none;
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation__list__item {
  color: var(--light-primary);
  transition: color 0.5s;
}

.site-navigation__list__item:hover {
  color: var(--color-primary);
}

.site-navigation__list__item__link {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--light-primary);
  transition: color 0.5s;
}

.site-navigation__list__item__link:hover {
  color: var(--color-primary);
}

/* /////////////////////////// */
/* Hero Section */
/* /////////////////////////// */

.hero-title__name {
  color: var(--light-primary);
}

.hero-title__role {
  color: var(--light-primary);
}

.hero-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title-container {
  transform: translateY(-5rem);
  letter-spacing: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title__name {
  font-size: 6rem;
}

.hero-title__role {
  font-size: 4rem;
  transition: transform 1s;
}

.hero-title-letter {
  transition: all 0.4s;
  display: inline-block;
  opacity: 0;
}

.hero-title__name__letter-hidden {
  opacity: 0;
}

@keyframes shake {
  15% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(10deg);
  }

  45% {
    transform: rotate(-5deg);
  }

  65% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(0deg);
  }
}

@keyframes zoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  50% {
    opacity: 1;
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInBounce {
  0% {
    transform: skewX(30deg) translateX(-100rem);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: skewX(-10deg) translateX(0.4rem);
  }

  100% {
    transform: skewX(0) translateX(0);
  }
}

.invisible {
  opacity: 0;
}


/* /////////////////////////// */
/* Projects Section */
/* /////////////////////////// */

.projects-section-heading {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  color: var(--color-primary);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  margin-top: 6rem;
  row-gap: 13rem;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  gap: 1rem;
}

.project-card__title {
  font-size: 3.2rem;
  color: var(--color-primary);
  justify-self: center;
}

.project-card__image-container {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.project-card__image {
  display: block;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.project-card__image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 252, 242, 0.85);
  transition: all 0.5s;
}

.project-card__icons {
  padding: 0 4rem;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.project-card__icon-container {
  color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.project-card__icon-container:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.project-card__icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.4s;
}

.project-card__icon:hover {
  transform: scale(1.2);
}

.project-card__list-container {
  justify-self: center;
}

.project-card__list {
  display: flex;
  list-style: none;
  color: var(--color-primary);
  gap: 2rem;
  font-size: 1.8rem;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.projects-section-heading__letter {
  display: inline-block;
  opacity: 0;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  20% {
    opacity: 1;
    transform: scale(1.2);
  }

  35% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  65% {
    transform: scale(0.98);
  }

  80% {
    transform: scale(1.02);
  }


  100% {
    transform: scale(1);
    opacity: 1;
  }
}